/* Config */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Quicksand|Dancing+Script');

:root {
    --black: #090909;
    --rosewood: #5C000A;
    --prune: #752323;
    --white: #F5F5F5;
}

/* Layout */

html, body, .main, .sidebar, .content {
    background-color: var(--light);
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem !important;
    margin: 0;
    padding: 0;
}

nav, #navbarToggler {
    width: 100%;
}

.navbar-collapse {
    align-items: baseline;
    padding: 1rem 0;
}

.sidebar-menu, .content, .scrollspy {
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
}

.sidebar-menu {
    z-index: 1000;
    box-shadow: 1px 0 5px var(--black);
    background-color: var(--rosewood);
    animation-duration: 1.5s;
}

.content {
    background-color: var(--white);
    animation-duration: 2s;
    animation-delay: 0.5s;
}

section {
    padding: 0 5vw;
    margin: 0;
    height: auto;
    position: relative;
    padding-bottom: 1rem;
}

.flex-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.flex-container-vertical {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 992px) {
    .main, .sidebar-menu, .content {
        height: auto;
    }
    .sidebar-menu {
        position: fixed;
        padding: 10px;
        text-align: center;
        animation: none;
    }
    .navbar-toggler, .navbar-toggler > i {
        color: var(--white);
        border-color: var(--white) !important;
    }
    .content {
        top: 5vh;
    }
    .flex-container {
        flex-direction: column;
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--prune); 
    border-radius: 20px;
}

/* Sidebar */
        
.nav-link, .nav-link:hover, .nav-link.active {
    color: var(--white);
    padding: .5rem 1rem;
}

.nav-link:hover, .nav-link.active, .nav-link.current {
    background-color: var(--prune);
}

.nav-image, .form-inline {
    display: flex;
    justify-content: center;
}

.pesquisa {
    padding: 0 1rem;
}

.pesquisa > div > .form-control, .pesquisa > div > .form-control::placeholder {
    border-color: var(--white);
    color: var(--white);
}

/* Scrollup e Scrolldown */

.scrolldown, .scrollup {
    bottom: 1rem;
    color: var(--white);
}

.scrolldown {
    position: absolute;
    text-align: center;
}

.scrollup {
    position: fixed;
    right: 1rem;
}

.scrollup .icon {
    box-shadow: none;
    font-size: 1rem;
    padding: .5rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--white);
}

/* Shapes */

.shape-header {
    color: var(--white);
    padding: 1rem 0 2rem 0;
}

.shape img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 12vh;
}

.shape-inverse img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

@media only screen and (max-width: 992px) {
    .shape img {
        height: 15vh;
    }
}

/* Geral */

h1 {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    padding: 4rem 0 2rem 0;
    margin: 0;
    color: var(--prune);
    font-weight: 900;
}

@media only screen and (max-width: 992px) {
    h1 {
        padding: 1rem 0;
    }
}

h5, h6 {
    margin-top: 0.5rem;
}

p {
    padding: 5px;
    margin: 0;
    text-align: justify;
}

a, a:hover {
    text-decoration: none;
    color: var(--black);
}

footer {
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--rosewood);
    color: var(--white);
    padding: 5px;
    position: absolute;
}

@media only screen and (max-width: 992px) {
    footer {
        position: relative;
    }
}

/* Bootstrap */

.dropdown-divider {
    margin: 10px;
    border-radius: 25%;
}

.nav-pills {
    display: flex;
    justify-content: space-between;
}

.btn-group {
    justify-content: center;
}

.btn-group a {
    margin-bottom: .5rem;
    background-color: var(--rosewood);
    color: var(--white);
}

.btn-group a:hover {
    background-color: var(--prune);
    color: var(--white);
}

.nav-tabs > .nav-link, .nav-tabs > .nav-link {
    color: var(--black);
}

.nav-tabs > .nav-link.active {
    color: var(--rosewood);
}

.nav-tabs > .nav-link:hover, .nav-tabs > .nav-link:hover {
    background-color: transparent;
}

.tab-content {
    padding: 10px;
    background-color: white;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 0 0 5px 5px;
}

.alert-action {
    position: absolute;
    top: 2rem;
    right: 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.list-group-item .collapse, .list-group-item .collapsing {
    font-weight: bold;
}

.accordion-header {
    background-color: var(--prune);
    border-bottom: 2px solid var(--white);
}

.accordion-header h6 {
    margin: 0;
    color: var(--white);
}

.accordion-header .btn-link {
    color: var(--white);
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Sections */

#inicio {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inicio h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: var(--white);
    text-shadow: 1px 1px 4px var(--black);
}

@media only screen and (max-width: 992px) {
    #inicio {
        height: 100vh;
    }
}

#contato {
    height: 100%;
}

#estrutura {
    text-align: center;
}

/* Forms */

.form-control, .form-control:focus, .form-control::placeholder {
    box-shadow: none;
    background-color: transparent;
}

label {
    margin: 0;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.file-upload {
    display: none;
}

/* Avatar */

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/image/avatar.png');
}

.avatar:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* Cards */

.card, .team-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px lightgray;
    text-align: center;
}

.card-body {
    padding: 10px;
}

.team-card {
    width: 30%;
    padding: 1rem 0;
}

@media only screen and (max-width: 992px) {
    .card, .team-card {
        margin: 10px 0 10px 0;
        width: 100%;
    }
}

.card-img-team {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    box-shadow: 0 5px 5px lightgray;
}

/* Icons */

.icon {
    background: var(--rosewood);
    color: var(--white);
    text-align: center;
    margin: 5px;
    padding: 15px;
    width: 50px;
    font-size: 1.2rem;
    border-radius: 50%;
    box-shadow: 0 5px 5px lightgray;
}


/* Tables */

.table, .table td, .table th, .table > input {
    border-color: var(--prune);
}

.table {
    border-bottom: 1px solid var(--rosewood);
}

thead {
    background-color: var(--rosewood);
    color: var(--white);
}

.page-link, .page-link:hover {
    color: var(--rosewood);
}

.page-item .page-link, .page-item.active .page-link, .page-item.disabled .page-link {
    border-color: var(--rosewood);
}

.page-item.active .page-link {
    background-color: var(--rosewood);
}

/* Buttons */

.btn-custom {
    background-color: transparent;
    color: var(--rosewood);
    padding: .4rem 1rem;
    border-radius: 50px;
    border: 1px solid var(--rosewood);
}

.btn-custom:hover {
    background-color: var(--rosewood);
    color: var(--light);
}

/* Landing page */

.landing-feature {
    padding: 1.5rem 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.landing-feature div {
    padding-bottom: 15px;
}

.landing-feature i {
    color: var(--rosewood);
}

/* Tabs/Collapse components */

.tabs-component {
    display: block;
}

.collapse-component {
    display: none;
}

@media only screen and (max-width: 992px) {
    .tabs-component {
        display: none;
    }
    .collapse-component {
        display: block;
    }
}

table > tbody > tr > td:nth-child(5) > a {
    color: var(--white);
    background-color: var(--rosewood);
    padding: 2px 10px;
    border-radius: 10px;
}
